name: Docker build testing
on: [push, pull_request]

jobs:
  linux:
    name: Linux (${{ matrix.version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.9.x
          - 2.10.x
          - 2.11.x
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Build ${{ matrix.version }} images
        run: |
          cd ./${{ matrix.version }}/tests && ./build-images.sh
      - name: Test ${{ matrix.version }} images
        run: |
          cd ./${{ matrix.version }}/tests && ./run-images.sh

  windows:
    name: Windows Server 2019 (${{ matrix.version }})
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.9.x
          - 2.10.x
          - 2.11.x
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Build images
        shell: powershell
        run: |
          cd ./${{ matrix.version }}/tests; ./build-images-2019.ps1
      - name: Test images
        shell: powershell
        run: |
          cd ./${{ matrix.version }}/tests; ./run-images-2019.ps1
